
<h3 class="mb-3">
  <a href="{{ .Permalink }}">{{ .Title }}

  <!-- </a> -->
</h3>
<!-- <div class="resume-item d-flex flex-column flex-md-row mb-3"> -->
<div class="resume-item d-flex flex-row flex-md-row mb-3">

  <!-- <div class="resume-content" style="width:200px;"> -->
  <div class="resume-content" style="width:550px;">
    {{with  .Params.image }}
      <!-- <img src="{{ . }}" style="max-height:150px;max-width:150px;"/> -->
      <img src="{{ . }}" style="max-height:500px;max-width:500px;"/>
    {{ end }}
  </div>
</a>
  <div class="resume-date">
    <p>{{ .Description | safeHTML }}<p>

      <!-- Removed to squeeze them -->
    <p class><a href="{{.Permalink}}">Read more here</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
